<!DOCTYPE html>

<!--
  JANitors: Aden Garbutt, Jing Yi Feng, Nicole Zhou
  SoftDev
  K14 -- Serving Looks
  2022-10-19
  -->

<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <title>K13</title>

    <style> <!-- internal -->
      #footer {
        color: rgb(102, 102, 102);
        margin: 0;
        text-align: right;
        padding: 10px
      }
    </style>
  </head>

  <body style="background-color: rgb(102, 102, 102);">
    <h1 style="color: white; background: rgb(190, 190, 190); text-align: center; margin: 0"> h1 foo </h1>

    <div id="main" style="background: rgb(118, 118, 118); margin: 0; padding: 10px">
        <nav style="width: 29%; display: inline-block; margin: 0">
          <h3>nav foo</h3>
          <ul style="color:white; list-style: none; padding: 0;">
            <li>dis</li>
            <li>dat</li>
            <li>de udda ting</li>
          </ul>
        </nav>

      <div style="width: 69%; display: inline-block">
        <h2>main foo heading</h2>
        <p>
          Stuy CS dolor sit amet develop onward+upward analyze marge
          integrate lisa. Develop nextcs update deliverables document
          lisa integrate how2cs@stuy debug Dillon review workshop install
          rona update library review keys configure library. Refactor ai.
          Fix nextcs review read eval print loop. Program Konstantinovich
          build disco configure deliverables configure GUDCLEANLIVIN test
          moe debug team name portending greatness develop qcc.
        </p>

        <p>
          Stuy CS dolor sit amet develop onward+upward analyze marge
          integrate lisa. Develop nextcs update deliverables document
          lisa integrate how2cs@stuy debug Dillon review workshop install
          rona update library review keys configure library. Refactor ai.
          Fix nextcs review read eval print loop. Program Konstantinovich.
        </p>
      </div>
    </div>

    <div id="footer" style="background: rgb(86, 86, 86); margin: 0;">
      <p style="color: rgb(102, 102, 102); margin: 0; text-align: right; padding: 10px">Copyright © 2015 Clyde "Thluffy" Sinclair</p>
    </div>

  </body>

</html>
