/*
JANitors: Aden Garbutt, Jing Yi Feng, Nicole Zhou
SoftDev
K14 -- Serving Looks
2022-10-19
*/

body{
  background-color: rgb(102, 102, 102);
}

h1 {
  color: white;
  background: rgb(190, 190, 190);
  text-align: center;
}

#main{
  background: rgb(118, 118, 118)
}


h2{
  color: #000000;
  text-align:
}

h3{
  color: #000000;
  text-align:
}